@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*Header*/

header {
    background-color: #000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 25px;
}

nav a:hover {
    background-color: green;
}

.encabezado {
    background-image: url(/imagenes/banner.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.encabezado h1 {
    font-size: 80px;
    font-weight: 800;
}

.encabezado p {
    font-size: 25px;
    font-weight: 350;
}

/* Body */
.containerDivs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.containerDivs,
p {
    padding: 5px;
}

.title {
    margin: 10px;
    position: relative;
    right: 5px;
}

.div1,
.div2,
.div3,
.div4,
.div5 {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 30px;
    width: 500px;
}

.div1 {
    margin-top: 100px;
}

.div2 {
    position: relative;
    bottom: 250px;
    margin-left: 600px;
}

.div3 {
    margin-top: 30px;
    position: relative;
    bottom: 500px;
}

.div4 {
    margin-top: 30px;
}

.div5 {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.img1,
.img2,
.img3,
.img4 {
    width: 500px;
    height: 300px;
}

.img1 {
    margin-left: 600px;
    position: relative;
    bottom: 300px;
}

.img2 {
    margin-top: 20px;
    position: relative;
    right: 600px;
    bottom: 325px;
}

.img3 {
    margin-top: 20px;
    position: relative;
    left: 600px;
    bottom: 325px;
}

.img4 {
    margin-top: 20px;
    /* Espacio superior */
}

/* Footer 
footer {
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    bottom: 0;
}

.logo {
    height: 40px;
    margin-bottom: 1rem;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 0.5rem;
}

.social-icon {
    background-image: url(/imagenes/Instagram.png);
}

.social-icon:nth-of-type(2) {
    background-image: url(/imagenes/WhatsApp.png);
}

.social-icon:nth-of-type(3) {
    background-image: url(/imagenes/Facebook.png); 
}
*/